#main-site {
  background-color: #005EA8;
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
}

#footerContent{
  color: white;
  width: 80%;
  margin: auto;
  padding: 5px;
  text-align: center;
}

.poweredByPO a {
  color: white;
  text-decoration: none;
}
